/*所有px的地方均已修改，并且wechat新加width与height；in3的pading也作了修改*/
.font01:link,.font01:visited {
    font-size: 15px;/**/
    color: #ffffff;
    font-style: italic;
    font-family: "Times New Roman";
    text-decoration:none;
    left: 425px;/**/
    top: 12px;/**/
    position: absolute;
}

.font01:hover {
    color: dimgrey;
    text-decoration: underline;
}

.font01:active {
    color: #5cc0f7;
    text-decoration: none;
}
.font02:link,.font02:visited{
    font-size: 15px;/**/
    color:#ffffff;
    font-style: italic;
    font-family: "Times New Roman";
    text-decoration: none;
    position: absolute;
    left:810px;/**/
    top: 12px;/**/


}
.font02:hover{
    color:dimgrey;
    text-decoration: underline;
}
.font02:active{
    color: #5cc0f7;
text-decoration: none;
}


body {
    /*background: url("{% static "img/House_detail/background.jpg" %}");*/
    background-size: cover;
    margin: 0px;
    overflow:auto;
    width:989px;/**/
    height:503px;/**/
}
#whole{
    width:989px;/**/
}
#first{
    position:inherit;
    height:15px;/**/
}
#section {
    background-color:ghostwhite;
    left: 425px;/**/
    width: 425px;/**/
    height: 537px;/**/
    top: 37px;/**/
    position: absolute;
}
#title{
    color:deepskyblue;
    font-family:"Arial Unicode MS";
    font-size: 30px;/**/
    margin-left: 26%;
    margin-top:2%;
}
#in{
    border:1px solid lightgray;/**/
    padding:4% 34%;
    margin-left:16%;
    padding-left: 10px;/**/
    background:transparent;
    font-size: 11px;/**/
    color:black;
    poositon:absolute;
    margin-top: 12px;/**/
}
#in2{
    border:1px solid lightgray;/**/
    padding:4% 34%;
    margin-left:16%;
    padding-left: 5px;/**/
    background:transparent;
    font-size: 11px;/**/
    color:black;
    poositon:absolute;
    margin-top: 30px;/**/

}
#in3{
    padding:2.8% 28%;/**/
    margin-left:16%;
    margin-top:55px;/**/
    background-color: deepskyblue;
    font-family: "Times New Roman";
    font-size: 16px;/**/
    color:white;
}
input::-webkit-input-placeholder{
    color:gray;
    font-style: italic;
    font-size: 11px;/**/
    font-family:"Times New Roman";

}
input::-moz-placeholder{
    color:gray;
    font-style: italic;
    font-size: 11px;/**/
    font-family:"Times New Roman";
    padding-left:5px;/**/
}
input:-moz-placeholder{
    color:gray;
    font-style: italic;
    font-size: 5px;/**/
    font-family:"Times New Roman";
    padding-left: 5px;/**/
}
input:-ms-input-placeholder{
    color:gray;
    font-style: italic;
    font-size: 10px;/**/
    font-family:"Times New Roman";
    padding-left:5px;/**/
}
#wechat{
    margin-left: 43%;
    margin-top:27px;/**/
    width:50px;/**/
    height:50px;/**/
}
#wechat_font:link,#wechat_font:visited{
    margin-left: 43%;
    font-family: "Times New Roman";
    font-size: 10px;/**/
    font-style: italic;
    color:gray;
    text-decoration: none;
}
#wechat_font:hover{
    color: dimgrey;
    text-decoration: underline;
}
#wechat_font:active{
    color: #5cc0f7;
    text-decoration: none;
}
.font03:link,.font03:visited{
    font-size: 15px;/**/
    color:#ffffff;
    font-style: italic;
    font-family: "Times New Roman";
    text-decoration: none;
    position: absolute;
    left:820px;/**/
    top: 12px;/**/


}
.font03:hover{
    color:dimgrey;
    text-decoration: underline;
}
.font03:active{
    color: #5cc0f7;
    text-decoration: none;
}
#Inrd{
    border:1px solid lightgray;/**/
    padding:4% 34%;
    margin-left:16%;
    padding-left: 5px;/**/
    background:transparent;
    font-size: 11px;/**/
    color:black;
    poositon:absolute;
    margin-top: 15px;/**/
}
#Insp{
    border:1px solid lightgray;/**/
    padding:4% 34%;
    margin-left:16%;
    padding-left: 5px;/**/
    background:transparent;
    font-size: 11px;/**/
    color:black;
    poositon:absolute;
    margin-top: 15px;/**/
}
#Incp{
    border:1px solid lightgray;/**/
    padding:4% 34%;
    margin-left:16%;
    padding-left: 5px;/**/
    background:transparent;
    font-size: 11px;/**/
    color:black;
    poositon:absolute;
    margin-top: 15px;/**/
}
#InRE{
    padding:4% 27%;
    margin-left:16%;
    margin-top:32px;/**/
    background-color: deepskyblue;
    font-family: "Times New Roman";
    font-size: 16px;/**/
    color:white;
}
#get{
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 11px;/**/
    left:55%;
    top:18%;
    position: absolute;
    background-color: darkgrey;
    color:ghostwhite;
    padding:1% 0.5%;
    disabled:"disable";
    cursor:pointer;
}