{% load staticfiles %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static "css/House_detail/house.css" %}" >
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src={% static "js/md5.js" %}></script>
    <title>HouseRenting</title>

    <script type="text/javascript">
        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  decodeURI(r[2]); return null;
        }
        function TransEnToCH(EnString) {
            var appid = '20180104000111874';
            var key = 'u2GBEsEwnJ4_oJ6knsDP';
            var salt = (new Date).getTime();
            var query = EnString;
            // 多个query可以用\n连接  如 query='apple\norange\nbanana\npear'
            var from = 'en';
            var to = 'zh';
            var str1 = appid + query + salt + key;
            var sign = MD5(str1);
            var transstr = "variable";
            $.ajax({
                url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
                type: 'post',
                dataType: 'jsonp',
                data: {
                    q: query,
                    appid: appid,
                    salt: salt,
                    from: from,
                    to: to,
                    sign: sign
                },
                success: function (data) {
                    transstr = String(data.trans_result[0].dst);
                    console.log("翻译成中文"+transstr);
                    showBaiDuMap(transstr);
                },
                error: function () {
                    alert('error');
                }
            });
        }

        function showBaiDuMap(transstr)
        {
            // 百度地图API功能
            console.log(transstr);
            var map = new BMap.Map("allmap");
            //var point = new BMap.Point(116.404, 39.915);
            map.centerAndZoom("上海", 15);
            map.enableScrollWheelZoom();

            var localSearch = new BMap.LocalSearch(map);
            localSearch.enableAutoViewport(); //允许自动调节窗体大小
            function searchByStationName(keyword) {
                map.clearOverlays();//清空原来的标注
                localSearch.setSearchCompleteCallback(function (searchResult) {
                    var poi = searchResult.getPoi(0);
                    map.centerAndZoom(poi.point, 13);
                    var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度map.addOverlay(marker);
                    map.addOverlay(marker);
                    // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                });
                localSearch.search(keyword);
            }
            searchByStationName(transstr);
            //searchByStationName("上海浦东高新区龚华路");
        }
    </script>
    <script>
        function append_rec_list(recnum,title, price, pic) {
            var htmlString = '<a href="/housedetail?title=' + encodeURI(title) + '">'+
                '<img src="'+pic+'" id="likepc'+String(recnum)+'"></a>'
            + '<input type="submit" id="pc'+String(recnum)+'price" value="'+String(price)+"yuan/month"+'">';
            $("#recdiv").append(htmlString);
        }
        function ShowRecommendations(price)
        {
            var formD = new FormData();
            formD.append("price", price);
            formD.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            $.ajax({
                type: 'POST',
                sync: false,
                url: '/api/HouseRecommendation/',
                data: formD,
                processData: false,
                contentType: false,
                success: function (data) {
                    //data is a house recommendations
                    console.log(data);
                    for(var i=0;i < data.recnum; i++)
                    {
                        append_rec_list(i+1,data.title[i], data.price[i], "/static/img/" + data.pictures[i]);
                    }
                },
                error: function () {
                    alert('error');
                }});
        }
        </script>
    <script>
        function EditPageElements(mytitle)
        {
            var formD = new FormData();
            formD.append("title", mytitle);
            formD.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            $.ajax({
                type: 'POST',
                sync: false,
                url: '/api/ShowHouseDetail/',
                data: formD,
                processData: false,
                contentType: false,
                success: function (data) {
                    //data is a house info wait to be shown
                    console.log(data);
                    $("#Des_title").html(data.title);

                    $("#floornumber").html(": "+String(data.address.floor));
                    $("#price").html(data.price+"yuan/month");
                    //// Recommmendation
                    ShowRecommendations(data.price);
                    ////
                    $("#typecontent").html(": "+data.type);
                    var val = Date.parse(data.from_date);
                    var newDate = new Date(val);
                    var day = ("0" + newDate.getDate()).slice(-2);
                    var month = ("0" + (newDate.getMonth() + 1)).slice(-2);
                    var f_date = newDate.getFullYear() + "/" + (month) + "/" + (day);

                    val = Date.parse(data.to_date);
                    newDate = new Date(val);
                    day = ("0" + newDate.getDate()).slice(-2);
                    month = ("0" + (newDate.getMonth() + 1)).slice(-2);
                    var t_date = newDate.getFullYear() + "/" + (month) + "/" + (day);
                    $("#rentingtime").html(": "+f_date+"->"+t_date);
                    $("#sizeroom").html(": "+data.size+"㎡");
                    $("#housecontent").html(": "+data.roomnbr+" rooms");
                    $("#detailaddress").html(data.address.road+","+data.address.district+","+data.address.city);
                    $("#pnum").val(": "+data.phone);
                    $("#description").html(data.information);
                    $("#mainpic").attr("src", "/static/img/"+data.pictures[0]);

                    window.EnAdress = data.address.city+","+data.address.district+" district"+","+data.address.road;
                    console.log(window.EnAdress);
                    TransEnToCH(window.EnAdress);
                },
                error: function () {
                    alert('error');
                }});
        }
    </script>
    <script>
        $(document).ready(function () {
            var mytitle = GetQueryString("title");
            var EnAdress = "";
            //alert(mytitle);
            EditPageElements(mytitle);

            /*$("#mapdiv").append("<script>TransEnToCH("+window.EnAdress+");*/
        });
    </script>
</head>
<body>
<div id="whole">
    <div id="head">
        <p id="position">ShangHai</p>
        <a href="#" id="change">[Change]</a>
        <a href="#" id="Register">Register/</a>
        <a href="#" id="Login">Login</a>
        <a href="#"id="PersonalCenter">Personal center</a>
    </div>
    <hr id="hr1">
    <p id="title"><strong>House Renting</strong></p>
    <p id="Des_title"><strong>Gong road new town,rent in good faith</strong></p>
    <p id="number">Number:56705636</p>
    <!unable to achieve changing picture>
    <!--<form action="">-->
        <img src="/static/img/House_detail/timg.jpg" id="mainpic">
        <input type="submit" name="up"id="up" value="/\">
        <img src="/static/img/House_detail/example.jpg" id="example">
        <img src="/static/img/House_detail/example2.jpg"id="example2">
        <img src="/static/img/House_detail/example3.jpg" id="example3">
        <input type="submit" name="down" value="\/" id="down">
   <!-- </form>-->
    <div id="bd"></div>
    <strong><p id="price">3000yuan/month</p></strong>
    <p id="type">Renting type </p>
    <p id="typecontent">: Empty house renting</p>
    <p id="housetype">House type</p>
    <p id="housecontent">: 4 rooms</p>
    <p id="floor">Floor number</p>
    <p id="floornumber">: 6</p>
    <p id="time">Renting time</p>
    <p id="rentingtime">: 11/11/2011->11/11/2012</p>
    <p id="size">Size room</p>
    <p id="sizeroom">: 3 m2</p>
    <p id="address">Detail address</p>
    <p id="detailaddress">: Gong Hua Road,Lane 479,Pudong new district,Shanghai,China </p>
    <input type="text" name="phoneNumber" value=": 12345678910 " id="pnum" disabled="disabled">
    <img src="/static/img/House_detail/phone.jpg" id="ppic">
    <a href="#"><img src="/static/img/House_detail/wetalk.jpg"id="wetalk"></a>
    <a href="#" id="talk">Talk</a>
    <div id="buttonbd1">
    <a href="#housedescirption" id="housebutton" type="button">House Detail</a>
    </div>
    <div id="buttonbd2">
    <a href="#district" id="mapbutton">District Map</a>
    </div>
    <div id="housedescription">
        <p id="description">House Info</p>
</div>
    <div id="district"></div>
        <p id="content">District Map</p>
    <div id="allmap"></div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fO4I1gYGQnGC5DbPCH1rRMWdG0vjwMZM"></script>

   <div id="like">
   </div><p id="liketitle">Do you like these houses?</p>
    <div id="likecontentbd">
    </div>
    <div id="recdiv">
    </div>
    <div id="ad"></div>
    <strong><p id="adtitle">AD Click here to learn more</p></strong>
    <a href="#"><img src="/static/img/House_detail/ad.jpg"id="ad1"></a>
    <a href="#" id="ad1p">learn more>></a>
    <a href="#"><img src="/static/img/House_detail/ad.jpg" id="ad2"> </a>
    <a href="#" id="ad2p">learn more>></a>
    <hr id="hr2">
</div>
</body>
</html>