{% load staticfiles %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static "css/House_detail/house.css" %}" >
    <title>HouseRenting</title>
</head>
<body>
<div id="whole">
    <div id="head">
        <p id="position">ShangHai</p>
        <a href="#" id="change">[Change]</a>
        <a href="#" id="Register">Register/</a>
        <a href="#" id="Login">Login</a>
        <a href="#"id="PersonalCenter">Personal center</a>
    </div>
    <hr id="hr1">
    <p id="title"><strong>House Renting</strong></p>
    <p id="Des_title"><strong>Gong road new town,rent in good faith</strong></p>
    <p id="number">Number:56705636</p>
    <p id="date">11-17</p>
    <!unable to achieve changing picture>
    <form action="">
        <img src="/static/img/House_detail/timg.jpg" id="mainpic">
        <input type="submit" name="up"id="up" value="/\">
        <img src="/static/img/House_detail/example.jpg" id="example">
        <img src="/static/img/House_detail/example2.jpg"id="example2">
        <img src="/static/img/House_detail/example3.jpg" id="example3">
        <input type="submit" name="down" value="\/" id="down">
    </form>
    <div id="bd"></div>
    <strong><p id="price">3000yuan/month</p></strong>
    <p id="type">Renting type </p>
    <p id="typecontent">: Empty house renting</p>
    <p id="housetype">House type</p>
    <p id="housecontent">: 2 bedrooms & 2 livingrooms</p>
    <p id="floor">Floor number</p>
    <p id="floornumber">: 6</p>
    <p id="time">Renting time</p>
    <p id="rentingtime">: 11/11/2011->11/11/2012</p>
    <p id="size">Size room</p>
    <p id="sizeroom">: 3</p>
    <p id="address">Detail address</p>
    <p id="detailaddress">: Gong Hua Road,Lane 479,Pudong new district,Shanghai,China </p>
    <input type="text" name="phoneNumber" value=": 12345678910 " id="pnum">
    <img src="/static/img/House_detail/phone.jpg" id="ppic">
    <a href="#"><img src="/static/img/House_detail/wetalk.jpg"id="wetalk"></a>
    <a href="#" id="talk">Talk</a>
    <div id="buttonbd1">
    <a href="#housedescirption" id="housebutton" type="button">House Detail</a>
    </div>
    <div id="buttonbd2">
    <a href="#district" id="mapbutton">District Map</a>
    </div>
    <div id="housedescription">
        <p id="description">1.Gong Hua Road,Lane 479<br><br>2.Support bag, call in advance at the house ,24 hours online mobile phone service for you, the good location,house price good.<br><br>3.a new and simple design style,low carbon and environmental protection, home appliances brand allocation and living,quality.</p>
</div>
    <div id="district"></div>
        <p id="content">District Map</p>
    <div id="allmap"></div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fO4I1gYGQnGC5DbPCH1rRMWdG0vjwMZM"></script>
    <script type="text/javascript">
        // 百度地图API功能
        // var map = new BMap.Map("allmap");
        // var point = new BMap.Point(116.331398,39.897445);
        // map.centerAndZoom(point,16);
        // // 创建地址解析器实例
        // var myGeo = new BMap.Geocoder();
        // // 将地址解析结果显示在地图上,并调整地图视野
        // myGeo.getPoint("上海浦东新区龚华路479弄", function(point){//传送小区地址
        //     if (point) {
        //         map.centerAndZoom(point, 19);
        //         map.addOverlay(new BMap.Marker(point));
        //     }else{
        //         alert("您选择地址没有解析到结果!");
        //     }
        // }, "北京市");
        var map = new BMap.Map("allmap");
	    var point = new BMap.Point(116.404, 39.915);
	    map.centerAndZoom(point, 15);
	    // 编写自定义函数,创建标注
	    function addMarker(point){
	    var marker = new BMap.Marker(point);
	    map.addOverlay(marker);
	    }
	    // 随机向地图添加25个标注
	    var bounds = map.getBounds();
	    var sw = bounds.getSouthWest();
	    var ne = bounds.getNorthEast();
	    var lngSpan = Math.abs(sw.lng - ne.lng);
	    var latSpan = Math.abs(ne.lat - sw.lat);
	    for (var i = 0; i < 25; i ++) {
		    var point = new BMap.Point(sw.lng + lngSpan * (Math.random() * 0.7), ne.lat - latSpan * (Math.random() * 0.7));
		    addMarker(point);
	    }
    </script>
   <div id="like">
   </div><p id="liketitle">Do you like these houses?</p>
    <div id="likecontentbd">
    </div>
    <a href="#"><img src="/static/img/House_detail/example2.jpg" id="likepc1"></a>
    <input type="submit" id="pc1price" value="2000yuan/month">
    <a href="#"><img src="/static/img/House_detail/example2.jpg" id="likepc2"></a>
    <input type="submit" id="pc2price" value="3000yuan/month">
    <a href="#"><img src="/static/img/House_detail/example2.jpg" id="likepc3"></a>
    <input type="submit" id="pc3price" value="1500yuan/month">
    <a href="#"><img src="/static/img/House_detail/example2.jpg" id="likepc4"></a>
    <input type="submit"id="pc4price" value="2000yuan/month">
    <div id="ad"></div>
    <strong><p id="adtitle">AD Click here to learn more</p></strong>
    <a href="#"><img src="/static/img/House_detail/ad.jpg"id="ad1"></a>
    <a href="#" id="ad1p">learn more>></a>
    <a href="#"><img src="/static/img/House_detail/ad.jpg" id="ad2"> </a>
    <a href="#" id="ad2p">learn more>></a>
    <hr id="hr2">
</div>
</body>
</html>