{% load staticfiles %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="author" content="PR"/>
    <meta name="copyright" content="PR"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/House_detail/web.css' %}">
    <title>HouseRenting</title>
</head>
<body>
<div id="whole">
    <div id="first">
        <a href="#" class="font01">Homepage</a>
        <a href="#" class="font03">Login</a>
    </div>
    <div id="section">
        <p id="title"><strong>House Renting</strong></p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" name="get" value="Get Dynamic Code" id="get"/>
            <input type="text" name="PhoneNumber" value="" id="in" placeholder="Phone Number"/>
            <input type="text" name="DynamicCode" value="" id="Inrd" placeholder="Dynamic code"/>
            <input type="text" name="setP" value="" id="Insp" placeholder="Set password"/>
            <input type="text" name="ConP" value="" id="Incp" placeholder="Confirm password"/>
            <input type="submit" name="enroll" value="Register" id="InRE"/>
        </form>

    </div>
</div>
</body>
</html>