{% load staticfiles %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my release</title>
    <script src={% static "js/jquery-1.10.1.min.js" %}></script>
    <link rel="stylesheet" media="screen" href="{% static "css/personal_page/style.css" %}"/>
    <script>
        function click_add() {
            var formD = new FormData();
            formD.append("rent_title", $("#rent_title").val());
            formD.append("detail_text", $("#detail_text").val());
            formD.append("price", $("#price").val());
            formD.append("from_date", $("#from_date").val());
            formD.append("to_date", $("#to_date").val());
            formD.append("size", $("#size").val());
            formD.append("check", false);
            formD.append("type", $('input:radio:checked').val());
            formD.append("province", $("#province").val());
            formD.append("city", $("#city").val());
            formD.append("district", $("#district").val());
            formD.append("address", $("#address").val());
            formD.append("floor", $("#floor").val());
            formD.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            console.log(formD);
            $.ajax({
                type: 'POST',
                sync: false,
                url: '/api/badwords/',
                data: formD,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    //if(data == "good")//insert house info into DB but check is false

                    alert(data);
                },
                error: function () {
                    alert('error');
                }});

        }
    </script>
</head>
<body>
<div id="wrapper">
    <div id="head">
        <a href="release.html"><p id="p1">House Renting</p></a>
        <a href="renting_history.html"><p id="p2">15901776523(log out)</p></a>
    </div>
    <div id="left"></div>
    <p id="center">personal center</p>
    <hr id="hr1"/>
    <a href="release.html"><p id="release" style="color: #1288c3">my release</p></a>
    <a href="renting_history.html"><p id="history">my renting history</p></a>
    <a href="personal_information.html"><p id="information">personal information</p></a>
    <p id="right_title">add release</p>
    <hr id="hr2"/>
    <div id="right">
        <div class="add_info">
            <div class="p_div">rent type:</div>
            <input type="radio" name="rent_type" value="Alone"/>Alone
            <input type="radio" name="rent_type" value="Group"/>Group
        </div>
        <div class="add_info">
            <div class="p_div">rent title:</div>
            <input id="rent_title" type="text" name="rent_title" style="width: 250px;"></div>
        <div class="add_info">
            <div class="p_div">community address:</div>
            <input class="s_input" type="text" id="province">province
            <input class="s_input" type="text" id="city">city
            <input type="text" class="s_input" id="district">district
            <input type="text" class="s_input" id="address">address <!--road==address-->
        </div>
        <div class="add_info">
            <div class="p_div">house type:</div>
            <input type="text" class="s_input">room
            <input type="text" class="s_input">hall
            <input type="text" id="size" class="s_input">㎡
            <input type="text" class="s_input" id="floor">floor
        </div>
        <div class="add_info">
            <div class="p_div">rent:</div>
            <input id="price" type="text">$/month
        </div>
        <div class="add_info">
            <div class="p_div">suitable renting time:</div>
            <input id="from_date" type="date">
            <hr style="width: 30px;display: inline-block;margin-left: 10px"/>
            <input id="to_date" type="date">
        </div>
        <div class="add_info">
            <div class="p_div" style="float: left;">detail information:</div>
            <textarea id="detail_text"></textarea>
        </div>
        <div class="add_info">
            <div class="p_div">upload picture:</div>
            <input type="file" style="height: 50px;font-size: 15px">
        </div>
            <div id="submit" onclick="click_add()">+add</div>
    </div>


</div>

</body>
</html>