{% load staticfiles %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my release</title>
    <script src={% static "js/jquery-1.10.1.min.js" %}></script>
    <link rel="stylesheet" media="screen" href="{% static "css/personal_page/style.css" %}"/>
    <script>
        function click_add()
        {
            alert('add success!');
            var formD=new FormData();
            formD.append("rent_title",$("#rent_title").val());
            formD.append("detail_text",$("#detail_text").val());
            formD.append("csrfmiddlewaretoken", "{{ csrf_token }}");


            // {#$.post("https://neutrinoapi.com/bad-word-filter", { "user-id": "stucafall", "api-key": "pvh6nD5e19etz0TFSE0TSguWanBq7umNUuMtZ6plUtu0gDIH","content": "fuck u"},#}
            // {#    function(data){#}
            // {#        alert(data);#}
            // {#        console.log(data);#}
            // {##}
            // {#        var result = JSON.parse(data);#}
            // {#        console.log(result['is-bad']);#}
            // {#    }, "json");#}
            // {#var sendData = {#}
            // {#    'user-id' : "stucafall",#}
            // {#    'api-key' : "pvh6nD5e19etz0TFSE0TSguWanBq7umNUuMtZ6plUtu0gDIH",#}
            // {#    'content' : "fuck u"#}

            $.ajax({
                type:'POST',
                sync:false,
                url:'/api/badwords',
                data:formD,
                processData:false,
                contentType:false,
                success: function (data) {
                    console.log(data);
                    alert(data);
                },
                error: function(){
                    alert('error');
                }

            });
            alert(4);
        }
    </script>
</head>
<body>
<div id="wrapper">
    <div id="head">
        <a href="release.html"><p id="p1">House Renting</p></a>
        <a href="renting_history.html"><p id="p2">15901776523(log out)</p></a>
    </div>
    <div id="left"></div>
    <p id="center">personal center</p>
    <hr id="hr1"/>
    <a href="release.html"><p id="release" style="color: #1288c3">my release</p></a>
    <a href="renting_history.html"><p id="history">my renting history</p></a>
    <a href="personal_information.html"><p id="information">personal information</p></a>
    <p id="right_title">add release</p>
    <hr id="hr2"/>
    <div id="right">
        <div class="add_info">
            <div class="p_div">rent type:</div>
                <input type="radio" name="rent_type" />individual
                <input type="radio" name="rent_type" />group
        </div>
        <div class="add_info">
            <div class="p_div">rent title:</div>
            <input id="rent_title" type="text" name="rent_title" style="width: 250px;"></div>
        <div class="add_info">
            <div class="p_div">community address:</div>
            <input class="s_input"  type="text"  >city
            <input  type="text" class="s_input">district
            <input  type="text" class="s_input">address
        </div>
        <div class="add_info">
            <div class="p_div">house type:</div>
            <input  type="text" class="s_input">room
            <input  type="text" class="s_input">hall
            <input  type="text" class="s_input">㎡
            <input  type="text" class="s_input">floor
        </div>
        <div class="add_info">
            <div class="p_div">rent:</div>
            <input  type="text" >$/month
        </div>
        <div class="add_info">
            <div class="p_div">suitable renting time:</div>
            <input  type="date" >
            <hr style="width: 30px;display: inline-block;margin-left: 10px"/>
            <input  type="date" >
        </div>
        <div class="add_info">
            <div class="p_div" style="float: left;">detail information:</div>
            <textarea id="detail_text"></textarea>
        </div>
        <div class="add_info">
            <div class="p_div">upload picture:</div>
            <input type="file" style="height: 50px;font-size: 15px">
        </div>
        <a href="#" onclick="click_add()"><div id="submit">+add</div></a></button>
    </div>


</div>

</body>
</html>