{% load staticfiles %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my release</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/personal_page/style.css" %}">
    <script src={% static "js/jquery-1.10.1.min.js" %}></script>
    <script>
        function append_house_list(image_path, topic, size, address, roomnbr, price) {
            var htmlString =
            '<div class="house_info">'
            + '<div class="house_img"><img  src="'+image_path+'"></div>'
            + '<div class="house_content">'
            +   '<p class="house_title">'+topic+'</p>'
            +   '<p class="house_rent">¥'+price+'/M</p>'
            +   '<p class="house_detail_text">'+roomnbr+' room , '+size+'㎡</p>'
            +   '<p class="house_detail_text">'+address+'</p>'
            +   '<p class="house_detail_text">from Me</p>'
            +   '</div></div>';
            $("#house_right").append(htmlString);
        }
        </script>
    <script>
        function ShowHouseList()
        {

            $("#house_right").empty();

            var user = {user: "", token: ""};
            $.getJSON("./api/houses/", function (data) {
                console.log("In My Release");
                {#console.log(data);#}
                $.each(data, function (index, value) {
                    console.log(value);
                    if (value["check"] && value["title"]=="Small House")
                        append_house_list("/static/img/" + value["pictures"][0],
                            value["title"], value["size"], value["address"].country+","+value["address"].city+","+
                                value["address"].district+","+value["address"].road
                            , value["roomnbr"], value["price"]);
                });
            });
        }
    </script>
     <script>
        $(document).ready(function () {
            ShowHouseList();
        });
    </script>
</head>
<body>
<div id="wrapper">
    <div id="head">
        <a href="release.html" ><p id="p1">House Renting</p></a>
        <a href="renting_history.html"><p id="p2">15901776523(log out)</p></a>
    </div>
    <div id="left"></div>
    <p id="center">personal center</p>
    <hr id="hr1"/>
    <a href="release.html"><p id="release" style="color: #1288c3">my release</p></a>
    <a href="renting_history.html"><p id="history">my renting history</p></a>
    <a href="personal_information.html"><p id="information">personal information</p></a>
    <p id="right_title">my release</p>
    <hr id="hr2"/>
    <a href="add_release.html"><div id="add">+add</div></a>
    <div id="house_right" class="house_right">

    </div>

</div>

</body>
</html>